.grid{
    background-color:palegreen;
    display: grid;
    grid-template-columns: 500px  1fr;
}
.item1{
    margin: 0;
    padding: 0;
    background: url(./images/image.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.container{
    display : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}
.form-group{

    padding: 7px;
}
.form-ind1{
    padding: 7px;
}



